<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>NewCo | Meet People That Can Actually Help</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1><a class="navbar-brand" href="">New Co</a></h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/ads">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="
        /login">Login</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/signup">SignUp</a>
      </li>
    </ul>
    <span class="navbar-text">
      Browse through various people's journals
    </span>
  </div>
</nav>
<div class="card">
        <div class="card-body">
          <div class="jumbotron">
            <h3>Welcome To NewCo!</h3>
          </div>
        </div>
</div>
<hr>
<div class='container'>
<div class="accordion" id="accordionExample">
    <div class='card'>
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What We Solve
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          We're not just a service that only helps to you connect, we also make you do incredible stuffs, document it and share with others.

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How We Solve It
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        This web app prompts you to set a pan you would love to achieve in some moments and document the wholw process. Every user has an access to a diary to journal how far they've gone, hindrances, sweet moments and also share with others who might be motivated. In this web app we see how little you began and how great you've amounted to. Share the process, Motivate others!!!

        You can also meet with people of like-passions and see what they are up to. You can manage alot of your affairs online.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          About
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        This is something like a beta test thats why it is freely hosted. This is like the simplest MVP we can come up with. For the next few weeks we would like you to create accounts and make use of the site. Don't put too much of personal info as it isn't secured yet. When we get feedbacks on how to improve our services and have worked on it we would fully host it with security. Thanks folks and register above, don't forget to give feedbacks on what areas we can improve
      </div>
    </div>
  </div>
</div>
<div class="card">
      <div class="card-body">
        <p>Presently we're all about the feedbacks!!!Send it to ifedayoadesiyan@gmail.com</p>
      </div>
</div>        
</body>
<hr>
<footer>
  <ul>
    <ul><a href='contact'>Contact</a></ul>
    <ul><a href='#'>FAQs</a></ul>
    <ul><a href='#'>Terms</a></ul>
    <ul><a href='#'>Privacy</a></ul>
  </ul>  
    <div>
      <p>Ifedayo Adesiyan Production</p>
      <p>NewCo @ 2019</p>
    </div>
</footer>
</html>