      

{% extends 'core/base.html' %}

{% block content %}


<style>
  div .txt {
    display: block;
    text-align: left;
  }
  
  #navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
  
</style>
<div class="card">
      <div class="card-body">
        <div class="jumbotron">


        <div class="container">
          <div class='media'>
            <img class='rounded-circle account-img' class="align-self-end mr-3"  src='{{ user.profile.image.url }}' width='160px' height="160px" border="10px" />
        
            <div class='txt'>
                <h3>{{ user.username }}</h3> <small>{{ user.email }}</small>
                <h4>{{ user.last_name }}</h4>
            </div>    
          </div>      
                <h3>Plan | {{ user.profile.plan }}</h3>
                <p>Location | {{ user.profile.location}}</p>
                <p>Passion | {{user.profile.passion}}</p>
                <p>About Me | {{ user.profile.about_me }}</p>

                <p><a href="/profile/create/">First Time??Create your profile</a>
            |
                <a href="/profile/update/">edit profile</a></p>
           
            </div>

        </div>
      </div>
       
</div>  
<div id="navbar">
      
        <a class="nav-link" href="/profile/">My Journals <span class="sr-only">(current)</span></a>
      </li>
        </a>
        <a class="nav-link" href="/profile">Messages
          <span class="glyphicon glyphicon-user"></span>
        </a>
        <a class="nav-link" href="/profile/to-do">Plans
          <span class="glyphicon glyphicon-user"></span>
        </a>
      

    
    
</div>





<script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}


</script>
{% for object in object_list %}
<div class='container'>
  
  
            <div class="media">
              <img class='rounded-circle account-img' class="align-self-center mr-3" src='{{ object.user.profile.image.url }}' width='39px' height="39px"  />
              <div class="media-body">
                <p class='mr-2'> @<b>{{obj.user}}</b> | <small class='text-muted'>{{obj.timestamp|timesince}} ago</small></p></p>
                <p><p class='article-content'><small>
                  {{ object.content|truncatewords:40 }}.....<a href='/journal/{{obj.slug}}/'>see more</a></small></p>
                {% if obj.image %}
                 <img src='{{ obj.image.url }}' height='270px' width='270px' />
                {% endif %}
                
            </div>
          
        
      <hr></hr>
         
          
</div>       
<hr></hr>       
{% endfor %}

    
{% endblock %}